*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    font-family: "Rowdies", cursive;
}

.App {
    background-color: #0a3d62;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: "Pixel";
    src: url("fonts/Pixel-LCD-7.woff") format("woff");
}
